// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;


$font-family-sans-serif:  "Lato", sans-serif;

// Colors
$brand-primary:#1b449f;
$light-grey: #dcdcdc;
$dark-grey: #3b3731;
$menuColor: #000000;
$invertmenuColor:#ffffff;
$red: #eb2529;
$footer-height:80px;
$footer-height2:160px;
$footer-color: #ffffff;
$footer-invert-color: #000000;
$footer-font-color: #000000;
$header-height:80px;
$background-color: #ffffff;
$footer-button-color:#ffffff;
$footer-button-font:#000000;


// Nav
$fTimming : 0.5;
$hoverTextTimming:0.3;
$menuItems: 6;
$rotateStep: 60deg;
