body {
	background: #445;
	color: #FFF;
}

#main {
  left:0;
  top:0;
	background: linear-gradient(to bottom, rgba(0,0,0,0.4) 100%, transparent), url(https://images.unsplash.com/photo-1477209560495-270790f2251a?dpr=2&auto=format&fit=crop&w=1500&h=1001&q=80&cs=tinysrgb&crop=&bg=);
	background-size: cover, cover;
	background-position: center, center;
	height: 100vh;
  position: fixed;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	//font-family:'Lato', sans-serif;
	font-size: 3rem;
	display: inline-block;
	padding: 1rem;
	font-weight: 400;
	position: relative;
	opacity: 1;
  text-align: center;
	transform: scale(1);
	transition: transform 0.5s ease, opacity 1s ease;
}

.is-loading h1 {
	transform: scale(0.9);
	opacity: 0;
}

h1:before,
h1:after {
	height: 2px;
	width: 100%;
	content: "";
	background: white;
	display: block;
	position: absolute;
	transition: width 0.4s ease;
	transition-delay: 0.8s;
}

h1:before {
	top: 0;
	left: 0;
}

h1:after {
	bottom: 0;
	right: 0;
}

.is-loading h1:before,
.is-loading h1:after {
	width: 0;
}

span {
  display: inline-block;
  position: relative;
  font-size: 1.5rem;
  width: 100%;
  transform: scale(1);
  transition: transform 1s ease, opacity 1s ease;
  transition-delay: 1.5s;
}
.is-loading span {
	transform: scale(0.9);
	opacity: 0;
}
.row{
  padding: 0px 0px 20px 0;
}

#hammer{
  background-image: url(../images/hammer.svg);
  height: 60px;
  width: 63.5px;
  fill: white;
  background-size:contain ;
  background-repeat: no-repeat;
  background-position: center, center;
  margin: auto;
  transition: opacity 1s ease;
  transition-delay: 2s;
}

.is-loading #hammer {
	opacity: 0;
}

#hammerrow{
  height:100px;
}
#but{
  // top: 30px;
}
  #but2{
  transition: opacity 1s ease;
  transition-delay: 3s;
  a {
    color: white;
    text-decoration: none;
  }
}

.is-loading #but2 {
	opacity: 0;
}


$footer-button-color: transparent;

$footer-button-font: white;
$footer-font-color: white;

.buttonFoot {
  background   : $footer-button-color;
  color        : $footer-button-font;
  border       : none;
  border-radius: 8px;
  position     : relative;
  height       : 35px;
  font-size    : 1.2em;
  font-weight  : 300;
  padding      : 0 0.7em;
  cursor       : pointer;
  transition   : 800ms ease all;
  outline      : none;
  margin       : 2px 0;
}

.buttonFoot:hover {
  background: $footer-button-color;
  color     : $footer-button-font;
}

.buttonFoot:before,
.buttonFoot:after {
  content      : '';
  position     : absolute;
  border-radius: 2px;
  top          : 0;
  right        : 0;
  height       : 1px;
  width        : 100%;
  background   : $footer-font-color;
  transition   : 400ms ease all;
}

.buttonFoot:after {
  right : inherit;
  top   : inherit;
  left  : 0;
  bottom: 0;
}

.buttonFoot:hover:before,
.buttonFoot:hover:after {
  width     : 0;
  transition: 800ms ease all;
}
